

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

header{
    display: flex;
    justify-content: center;
}

nav{
display: flex;
justify-content: space-around;

}

#cabeza{
    background-color: yellow;
    padding: 20px;
}

#headerpq{
    background-color: rgb(14, 155, 155);
    color: white;
    padding: 1%;

}
#fondo{
    background-image:url(../img/fondo-del-escritorio-de-oficina-con-la-tableta-el-teléfono-elegante-y-la-taza-de-café-visión-desde-arriba-con-el-espacio-de-la-47176027.jpg);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}
#fondo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fondo button {

   background-color:  rgb(14, 155, 155);
   color: white;
}

#titulo{
   display: flex;
   justify-content: center;
    color: black;
}


.Textos{
   
    color: black;

}

#contenedor_textos{

display: flex;

}

legend{

    color: black;
}

footer{
    color: black;
}